/* Global general param
-------------------------------------------------- */
/* components */

*{
  margin:0;padding:0;    
}

html,body{
  height:100%;
  width:100%;
}

body {
  display:table;
  background-color: #eee;
  font-family: 'Open Sans',sans-serif;
  box-shadow: inset 0 0 110px rgba(0,0,0,.5);

}

.container {
 max-width: 680px;
}
.content{
  display: block;
  height:100%;
} 
.content{
 margin-top: 20px;
 margin-bottom: 20px;
}

/* Global - Header
-------------------------------------------------- */
/* components */


.nav > li {
  display: inline-block;
}
.nav > li + li {
  margin-left: 10px;
}
.nav  li {
  font-size: 16px;
}


/* Index - Intro
-------------------------------------------------- */


.intro{
  text-align: center;
}
.intro h1,h3{
  margin-bottom: 30px;
}
.intro a, .intro strong{
  text-decoration: none;
  color: rgb(82,82,82);
}
.form-decision{
  margin-top: 20px;
}

 /* Global - Footers
-------------------------------------------------- 
/* Fully personalised */
.page_num{
  margin-top: 20px;
}

#footer {
  padding-top:20px;
  height: 60px;
}
#footer .container{
  background-image: url("../img/unibo.png");
  background-repeat:no-repeat;
}
.text-muted {
  margin: 20px 0;
}
.text-muted a{
  text-decoration: none;
  color: #999999;
}

/* Global Devices
-------------------------------------------------- */
/* Fully personalised */

/* Potrait phones and smaller */
@media (max-width: 480px) {
  body {
    display: block;
    box-shadow: none;
  }
  .head{
     text-align: center;
  }
   .nav {
    display: block;
  text-align: center;
  }
}

/* Landscape phones and portrait tablets and more */
@media (min-width: 480px) {
  .head{
    margin-top: 20px;
  }
  .brand {
    float: left;
  }
  .nav{
    margin-top: 27px;
  }
  .nav {
  float: right;
  }
}

/* Portrait tablets and more*/
@media (min-width: 992px) {
  
}
/* Global Componentes
-------------------------------------------------- */
/* Componentes */

.active  {
  color: rgb(248,171,62);
  font-weight: bold;
}
.logo{
  width: 60px;
}

.smallnotice{
  color: red;
}

.exp_result{

  text-align: center;
}

#form1 .form-group{
  margin-top: 30px;
}

/**
------------- login keypad
**/

.keypad {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: calc(25% - 10px);
    height: 100px;
    margin: 5px;

}
/**
------------- table footer
**/
.tablelist{
  height: 800px; /*flexable!*/
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.container .credit{
margin: 20px 0;
} 

.footer .btn{
  margin-left: 10px;
}

button a,button a:hover{
  text-decoration: none;
  color: white;
}

/********OH**/


.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
}
.tt-suggestion {
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}

