/* Global general param
-------------------------------------------------- */
/* components */

*{
  margin:0;padding:0;    
}

html,body{
  height:100%;
  width:100%;
}

body {
  display:table;
  background-color: #eee;
  font-family: 'Open Sans',sans-serif;
  box-shadow: inset 0 0 110px rgba(0,0,0,.5);

}

.container {
 max-width: 680px;
}

.text-muted {
  margin: 20px 0;
}
.text-muted a{
  text-decoration: none;
  color: #999999;
}


.butt_libero, .butt_occupato, .butt_tutti, .apbutt, .funcbutt{
  width: 80px;
}

/* Global Devices
-------------------------------------------------- */
/* Fully personalised */

/* Potrait phones and smaller */
@media (max-width: 480px) {
  body {
    display: block;
    box-shadow: none;
  }
}

/* Landscape phones and portrait tablets and more */
@media (min-width: 480px) {

}

/* Portrait tablets and more*/
@media (min-width: 992px) {
  
}

/**
------------- login keypad
**/

input[type='text'],input[type='number'],textarea {font-size:16px;}

.keypad {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: calc(30% - 10px);
    height: 100px;
    margin-left: 13px;
    margin-top: 8px;
}
/**
------------- table footer
**/
.tablelist{
  height: 800px; /*flexable!*/
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.container .credit{
margin: 20px 0;
} 

.footer .btn{
  margin-left: 10px;
}

button a,button a:hover{
  text-decoration: none;
  color: white;
}

.panel-heading a,.panel-heading a:hover{
  text-decoration: none;
  color: rgb(82,82,82);

}

/********OH AUTO COMPLETE CSS **/


.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
}
.tt-suggestion {
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}

